/* Home-top
--------------------------------------------- */
.home-top {
	border-bottom: 3.5px solid $color-yellow;
	margin-top: 60px;
}

/* Home page cta
--------------------------------------------- */
.cta {
	background: #f5f5f5;
	border-bottom: 1px solid #fff;
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
}

.cta .wrap {
	padding: 0 10px;
}

.cta-left,
.cta-right {
	color: #444;
	padding: 20px 0 0 0;
}

.cta-left .widgettitle {
	color: $color-orange;
}

.cta-right .widgettitle {
	color: #fff;
}

.cta-left {	
	p {
		margin-bottom: 1px;
	}
	
	.text-to-right {
		margin-left: 13rem;
	}
}

.one-half.cta-right .widget.enews-widget {
	background-color: $color-yellow;
	border-top: 2px solid $color-blue;
	padding: 20px;
}

.one-half.cta-right {
	
	input,
	input:focus {
		border: none;
	}
	
	input {
		color: $color-blue;
		font-family: Pacifico, sans-serif;
		font-size: 20px;
		margin-bottom: 16px;
		padding: 5px;
	}

	input[type="submit"] {
		background-color: $color-blue;
		border-radius: 50%;
		color: #fff;
		float: right;
		font-family: Lato, sans-serif;
		font-size: 20px;
		height: 140px;
		margin: 0;
		padding: 16px 10px;
		width: 140px;
	}

	input:hover[type="submit"] {
		border: 3px solid $color-blue;
		background-color: #fff;
		color: $color-blue;
	}
}

/* News widget home page
--------------------------------------------- */
.news-home {
	background: url(images/absurdity.png) $color-yellow;
	padding: 20px 0;
	text-align: center;
	
	.widgettitle {
		color: #fff;
		font-size: 40px;
		margin-bottom: 20px;
	}
	
	.featured-content {
		img {
			border: 4px solid #fff;
			width: 100%;
		}
		
		.entry {
			background: transparent;
			border: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			display: inline-block;
			min-height: 250px;
			overflow: hidden;
			padding: 0 15px;
			text-align: left;
			width: 33.33333333333%;
		}
		
		.entry-header {
			border-left: none;
			padding-left: 0;
			
			.entry-title {
				background: #fff;
				min-height: 87px;
				padding: 7px;
				text-align: center;
				
				a {
					color: $color-orange;
				}
			}
		}
	}
	
	p {
		color: #fff;
	}
	
	.more-link {
		display: inline-block;
		text-align: center;
		width: 100%;
		
		a {
			border: 1px solid #fff;
			color: #fff;
			font-weight: 400;
			padding: 10px;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
		
		a:hover {
			background: #fff;
			color: $color-orange;
		}
	}
		
}

/* Home page home content
--------------------------------------------- */
.home-content {
	margin-top: -2rem;
	
	.widgettitle,
	.widget-title {
		background: $color-orange;
		color: #fff;
		font-size: 25px;
		margin: 0;
		padding: 24px;
	}
	
	.featured-content {
		.widgettitle {
			padding: 10px;
		}
	}
	
	.entry-title {
		padding: 14px 7px;
		
		a {
			color: #fff;
		}
	}
	
	.entry {
		margin: 0 0 24px;
	}
	
	.more-link {
		text-align: center;
		width: 100%;
		
		a {
			border: 1px solid $color-orange;
			color: $color-orange;
			font-weight: 400;
			padding: 10px;
			text-align: center;
		}
	}
	
}

.content-left,
.content-right {
	background-color: #fff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 20px 10px 0 10px;
}

.content-left {
	
	.css-events-list {
		margin-top: 10px;
		padding-top: 10px;
	}
	
	table {
		line-height: 1.4;
		
		tbody {
			background: #f2f2f2;
			
			tr {
				border-top: 1px solid #ddd;
				border-right: 1px solid #ddd;
				
				td:first-child {
					color: #6B6B6B;
					padding: 5px;
				}
				
				td i {
					color: #6B6B6B;
					font-size: 0.75em;
					font-style: normal;
				}
			}
		}
	}
	
	.more-link {
		text-align: center;
		
		a {
			border: 1px solid $color-orange;
			color: $color-orange;
			display: inline-block;
			font-size: 20px;
			margin-bottom: 10px;
			padding: 10px;
			text-transform: uppercase;
			width: 100%;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
		
		a:hover {
			background: $color-orange;
			color: #fff;
		}
	}
	
}

.page.type-page .entry-title {
	font-size: 100px;
	text-align: center;
	text-transform: uppercase;
}

div#cff {
	border: 11px solid $color-orange;
	overflow: scroll;
	width: 100% !important;
}

#feed_preview h2.ng-binding,
#feed_preview #feederninja_credits_side.light {
	display: none !important;
}
