//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #fff;
$color-font:         #444;
$color-link:         #e5554e;
$color-link-visited: $color-link;
$color-link-hover:   #000000;
$color-orange:   	 #ff5c00;
$color-red:   	 	 #CC121E;
$color-red-orange:   #ff3700;
$color-yellow:   	 #FF9800;
$color-blue:     	 #1c1865;

// Fonts
$font-sans:  Roboto, sans-serif;
$font-title: Questrial, sans-serif;
$font-new: 	 Questrial, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;
